# ----- Geral -----
# Diretório do sistema MacOS
.DS_Store
# Diretório de cache do editor Vim
*.swp
# Diretório de backup do Emacs
*~
# Diretórios de IDEs e editores
.idea/
*.iml
*.vscode/

# ----- Ignorar arquivos de log -----
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ----- Projeto Spring Boot (Backend) -----
# Ignore diretório target, onde os arquivos construídos são gerados
/backend/target/
# Ignore diretório .mvn criado pelo Maven Wrapper
/backend/.mvn/
# Ignore scripts de inicialização do Maven Wrapper (mvnw)
!/backend/mvnw
!/backend/mvnw.cmd
# Arquivos de cache do Maven
/backend/.idea/
# Arquivos de configuração local da IDE Eclipse/IntelliJ
/backend/.project
/backend/.classpath
/backend/.settings/
# Build e dependências do Gradle (caso seja usado)
.gradle/
build/

# ----- Projeto Angular (Frontend) -----
# Diretório node_modules, onde dependências npm são instaladas
/frontend/node_modules/
# Diretório dist, onde o build da aplicação Angular é gerado
/frontend/dist/
# Diretório build, para compilar diretamente no Angular
/frontend/build/
# Cache do npm
/frontend/.npm/
# Configurações locais do Angular CLI
/frontend/.angular/cache/
# Arquivos de ambiente de configuração
/frontend/src/environments/environment.*.ts
# Logs e arquivos temporários
npm-debug.log*
yarn-error.log*

# ----- Geral para o Node.js -----
# Arquivo de lock para versões de dependências npm/yarn
yarn.lock
# Arquivos de lock do npm
package-lock.json
.pnpm-debug.log*

# ----- Sistema Operacional -----
# Arquivos criados pelo sistema Windows
Thumbs.db
# Arquivos criados pelo sistema Linux
*.swo
*.swp
*.bak
*.backup
